name: inkino_web
description: A clean Flutter web app for movie browsing
publish_to: 'none'

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  google_fonts: ^6.2.1

flutter:
  uses-material-design: true

  assets:
    - assets/images/
